html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

.modal-fighter {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0,0,0,0.4); /* Black  with opacity */
}

.modal-fighter-content {
    position: fixed;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 10%;
    min-width: 200px;
    opacity: 0.9;
}

/* The Close Button */
.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover, .close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.content-form {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.content-row {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.content-row:last-child {
    justify-content: center;
    margin: 0;
}

.content-col:first-child {
    width: 35%;
}

#arena {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 200px;
    width: 100%;
    margin-bottom: 50px;
    border-bottom: 2px solid lightsteelblue;
}

#arena div {
    height: 100%;
}

.arena-title {
    font: bold 32pt/28pt sans-serif;
    color: dodgerblue;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arena-fighters {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px dashed lightsteelblue;
}

.arena-fighters div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.arena-fighters div:first-child {
    justify-content: space-around;
}

.arena-fighter:first-child:after {
    content: '\00a0-\00a0vs\00a0-';
    display: block;
    color: lightsteelblue;
    font: bold 32pt/28pt "Courier New";
}

.arena-fighter {
    padding: 5px;
    font: bold 14pt/12pt "Courier New";
}

@media only screen and (max-width: 1366px) {
    .arena-fighter {
        font: bold 12pt/10pt "Courier New";
    }
}

@media only screen and (max-width: 1224px) {
    .arena-fighter {
        font: bold 10pt/10pt "Courier New";
    }
}

.arena-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.arena-action input {
    font: bold 14pt/12pt "Courier New";
    padding: 10pt;
    cursor: pointer;
    border-radius: 8px;
    color: #8a94a6;
    border: 1px solid lightsteelblue;
    background-color: white;
}

.arena-action input:first-child:hover {
    color: red;
    border: 1px solid red;
}

.arena-action input:last-child:hover {
    color: dodgerblue;
    border: 1px solid dodgerblue;
}

#transcript {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
    color: #3c3e41;
}